<!DOCTYPE html>
<html>
<head>
	<title>about</title>
	<!-- <link rel="stylesheet" type="text/css" href="../resources/css/reset.css"> -->
	<link rel="stylesheet" type="text/css" href="../resources/css/home.css">
	<meta charset="UTF-8">
</head>
<body>
<header>
	<div class="container_wrap">
		<div class="nav_bar pull_left">
			<ul>
				<li class="link">
					<a href="index.html">Home</a>
				</li>
				<li class="link">
					<a href="about.html">About</a>
				</li>
			</ul>
		</div>
		<div class="title_img">
			<img src="./images/upcomer-logo.png">
		</div>
		<div class="social pull_right">
			<ul>
				<li class="facebook_icon link">
					<a href="https://facebook.com/upcomer"></a>
				</li>
				<li class="twitter_icon link">
					<a href="https://twitter.com/upcomer"></a>
				</li>
			</ul>
		</div>
	</div>
</header>
<section class="about_content_wrap">
	<div class="about_content1">
		<div class="container_wrap">
			<div class="description">
				<h2>why we do what we do</h2>
				<p>We believe that it should be easy, fun and rewarding to stay updated on upcoming products that you care about. We do also believe that we as customers should have the possibility to be more involved in the development of upcoming products which will result in better products. And that the brands behind the product will benefit greatly from a closer relationship with their customers during the product development.</p>
				<p>Upcomer is built upon these beliefs and with your help we will build the next big thing, to let the people know about the next big things!</p>
			</div>
			<div class="desc_image">
				<img src="images/illustration3.png">
			</div>
		</div>
	</div>
	<div class="about_content2">
		<div class="container_wrap">
			<div id="circle_2014">
				<span>2014</span>
			</div>
			<div class="sub_wrap_left">
				<div class="description">
					<h3>A new idea was forming</h3>
					<span>In May 2014 we got the first idea of what eventually became Upcomer.</span>
				</div>
				<div class="circle"></div>
				<div class="tooltip pull_right"></div>
				
				<div class="description">
					<h3>Android app development starts</h3>
					<span>We started developing the Android application.</span>
				</div>
				<div class="circle"></div>
				<div class="tooltip pull_right"></div>
			</div>
			<div class="sub_wrap_right">
				<div class="description">
					<h3>Upcomer is born</h3>
					<span> We formed a great team, created our brand and set out to realize our potential.</span>
				</div>
				<div class="circle"></div>
				<div class="tooltip pull_left"></div>

				<div class="description">
					<h3>Private beta launches</h3>
					<span>The Upcomer private beta was oficially launched for a lucky few.</span>
				</div>
				<div class="circle"></div>
				<div class="tooltip pull_left"></div>
			</div>
		<!-- 	<div class="sub_wrap_left">
				<div class="description">
					<h3>Android app development starts</h3>
					<span>We started developing the Android application.</span>
				</div>
				<div class="circle"></div>
				<div class="tooltip pull_right"></div>
			</div> -->
			<!-- <div class="sub_wrap_right">
				<div class="description">
					<h3>Private beta launches</h3>
					<span>The Upcomer private beta was oficially launched for a lucky few.</span>
				</div>
				<div class="circle"></div>
				<div class="tooltip pull_left"></div>
			</div> -->
		</div>
	</div>
	<div class="about_content3">
		<div class="container_wrap">
			<div id="circle_now">
				<span>Now</span>
			</div>
			<h2>We are looking for..</h2>
			<p>We are not only building an awesome product that millions of people will love to use, but also a great company. We face tremendous challenges on the development side and we need truly talented and passionate developers to join our team. We are building exciting things that didn't exist before and we need your help!</p>
			<p>We are looking for both frontend and backend developers.We offer a significant amount of shares for our early employees/co-founders. Send us an email and let's get talking!</p>
			<div class="send_email">
				<a href="#">hello@upcomer.com</a>
			</div>
		</div>
	</div>
	<div id="upcomer_tag">
		<div class="container_wrap">
			<img src="images/hand.png">		
			<span>#upcomeriscoming</span>
		</div>
	</div>
	<footer>
		<div class="container_wrap">
			<ul>
				<li class="facebook_icon link">
					<a href="https://facebook.com/upcomer"></a>
				</li>
				<li class="twitter_icon link">
					<a href="https://twitter.com/upcomer"></a>
				</li>
			</ul>
		</div>
	</footer>
</section>
</body>
</html>