<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/home.css">
	<meta charset="UTF-8">
</head>
<body>
<body>
		<div id="main-content">
		<!-- header by manu -->
			<header>
	<div class="container_wrap">
		<div class="nav_bar pull_left">
			<ul>
				<li class="link">
					<a href="index.html">Home</a>
				</li>
				<li class="link">
					<a id="aboutLink" href="about.html">About</a>
				</li>
			</ul>
		</div>
		<div class="title_img">
			<img id="title_img" src="./images/upcomer-logo.png">
		</div>
		<div class="social pull_right">
			<ul>
				<li class="facebook_icon link">
					<a href="https://facebook.com/upcomer"></a>
				</li>
				<li class="twitter_icon link">
					<a href="https://twitter.com/upcomer"></a>
				</li>
			</ul>
		</div>
	</div>
</header>

		<div id="homeWrap">
			<div id="section-1">
				<div id="section-1content">
					<div id="content-1">
						Stay updated on upcoming tech products you love<br>
					</div>
					<div id="content-2">We made it a whole lot easier for you to always stay updated on all upcoming products you care about<br>.. so be the first to try Upcomer
					</div>
					    <div >
							<form>
								<input type="email" name="EMAIL" class="email"  value="Enter your email" id="field1" >
								<input type="submit" id="button-ok" value="Ok" name="subscribe"  class="button">
							</form>
						</div>
					    <div id="content-3">
							Coming to Android and iOS first half of 2015
					    </div>
				</div>
			
			    <div id="down-arrow">
						<img src="images/down-arrow.png">
				</div>
			</div>
			<div id="section-2">
				<div id="section-2content">
					<div id= "section2content-1">
						Personalize your feed
					</div>
					<div id="section2content-2">
						Choose your favourite brands and product categories to get notified as soon as a new product is announced
					</div>
					<div>
						<img id="section2-image" src="images/feed_bg.png">
					</div>
				</div>
			</div>
			<div id="section-3">
			<center>
				<div id="section-3content1">
							<img id="section-3image1" src="images/illustration1.png">
						<div id="maincontent-1">
							
							<span class="section-3content">
								<p class="content_h1">
									All in one place
								</p>
								<p>
									Follow products to get the most important updates such as release date, price, specifications, reviews, discounts, give always and more in your personal feed
								</p>
							</span>
						</div>
				</div>
			


				<div id="section-3content2">
							<img id="section-3image2" src="images/illustration2.png">
						<div id="maincontent-2">
							
							<span class="section-3content">
								<p class="content_h1">
									Be the first to know
								</p>
								<p>
									Get push notifications when something big happens such as a new product.We'll make sure you never miss anything important!
								</p>
							</span>
						</div>
				</div>
					<!-- <div id="section-3content2">
					<div id="maincontent-2">
							<span id="maincontent-2" class="section-3content">
							<p class="content_h2">
								Be the first to know
							</p>
							<p>
								Get push notifications when something big happens such as a new product.We'll make sure you never miss anything important!
							</p>
							</span>
							<span><img id="section-3image2" src="images/illustration2.png"></span>
						</div>

						
							
					</div> -->
				</center>
			</div>
			<div id="section-4">
				<div id="section-4main">
					<div id="section-4content1">
						The first 500 people to sign up will get an <strong>"early adopter priority"</strong> for 6 months which gives you a higher prioriy when we give away brand new products
						
					</div>
					
					<div id="field-wrapper1">
						<div id="sub-content">Be the first to try Upcomer</div>

						 <div id="email-field">
							<form>

								<input type="email" name="EMAIL" class="email"  value="Enter your email" id="field1" >
								<input type="submit" id="button-ok" value="Ok" name="subscribe"  class="button">
							</form>
							<div id="sub-content2">Coming to android and iOS early 2015</div>
						</div>	
					    
					</div>
				</div>
			</div>
		</div>
			<div id="upcomer_tag">
		<div class="container_wrap">
			<img src="images/hand.png">		
			<span>#upcomeriscoming</span>
		</div>
	</div>
	<footer>
		<div class="container_wrap">
			<ul>
				<li class="facebook_icon link">
					<a href="https://facebook.com/upcomer"></a>
				</li>
				<li class="twitter_icon link">
					<a href="https://twitter.com/upcomer"></a>
				</li>
			</ul>
		</div>
	</footer>
		<script src=""></script>
		</div>
	</body>
</html>
