<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="../resources/css/home.css">
	<meta charset="UTF-8">
</head>
<body>
<body>
		<div id="main-content">
		<!-- header by manu -->
			<!-- <header>
				<div id="header-content">
					<a href="index.html" id="menu-h1">Home</a>
					<a id="menu-h2" href="about1.html">About</a>
					<a href="about1.html"><img id="header-image" src="images/upcomer-logo.png"></a>
				    <a href="https://twitter.com/?lang=en" target="_blank"><img class="logo" src="images/tweet-icon.png"></a>
				    <a href="https://facebook.com/"target="_blank"><img class="logo" id="logo1" src="images/fb-icon.png"></a>				    
				</div>
			</header> -->


			<div id="section-1">
				<div id="section-1content">
					<div id="content-1">
						Stay updated on upcoming tech products you love<br>
					</div>
					<div id="content-2">We made it a whole lot easier for you to always stay updated on all upcoming products you care about<br>Be the first to try Upcomer
					</div>
					    <div >
							<form>
								<input type="email" value="" name="EMAIL" class="email"  placeholder="Enter your email" id="field1" >
								<input type="submit" id="button-ok" value="Ok" name="subscribe"  class="button">
							</form>
						</div>
					    <div id="content-3">
							coming to Android and iOS first half of 2015
					    </div>
				</div>
			
			    <div id="down-arrow">
						<img src="images/down-arrow.png">
				</div>
			</div>
			<div id="section-2">
				<div id="section-2content">
					<div id= "section2content-1">
						Personalize your feed
					</div>
					<div id="section2content-2">
						Choose your favourite brands and product categories to get notified as soon as a new product is announced
					</div>
					<div id="section2-image">
						<img src="images/feed_bg.png">
					</div>
				</div>
			</div>
			<div id="section-3">
				<div id="section-3content">
					<div id="section-3content1">
						<div class="section-3image1">
							<img src="images/illustration1.png">
						</div>
						<div id="maincontent-1">
							<div class="content_h1">
								All in one place
							</div>
							<div class="section-3content">
								Follow products to get the most important updates such as release date, price, specifications, reviews, discounts, give always and more in your personal feed
							</div>
						</div>
					</div>
					<div id="section-3content2">
						<div id="maincontent-2">
							<div class="content_h1">
								Be the first to know
							</div>
							<div class="section-3content">
								Get push notifications when something big happens such as a new product.We'll make sure you never miss anything important!
							</div>
						</div>
						<div class="section-3image2">
							<img src="images/illustration2.png">
						</div>
					</div>
				</div>
			</div>
			<div id="section-4">
				<div id="section-4main">
					<div id="section-4content1">
						The first 500 people to sign up will get an <strong>"early adopter priority"</strong> for 6 months which gives you a higher prioriy when we give away brand new products
						
					</div>
					
					<div id="field-wrapper1">
						<div id="sub-content">Be the first to try Upcomer</div>

						 <div id="email-field">
							<form>

								<input type="email" value="" name="EMAIL" class="email"  placeholder="Enter your email" id="field1" >
								<input type="submit" id="button-ok" value="Ok" name="subscribe"  class="button">
							</form>
							<div id="sub-content2">Coming to android and iOS early 2015</div>
						</div>	
					    
					</div>
				</div>
			</div>
			<div id="section-5">
				<div id="section-5main">
					<img id="handimage"src="images/hand.png">
					<div id="section-5content">
						#upcomeriscoming
					</div>
				</div>
			</div>
			<footer id="upcomer-foot">
				<div id="social-button">
					<a href="https://fb.com/"target="_blank"><img  src="images/fb-icon.png"></a>
					<a href="https://twitter.com/?lang=en"target="_blank"><img  src="images/tweet-icon.png"></a>
				</div>
			</footer>
		<script src=""></script>
		</div>
	</body>
</html>