
*{
    /* With these codes padding and border does not increase it's width and gives intuitive style.*/
  
	-webkit-box-sizing: border-box;   
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}	
html{
	min-width: 320px;
	font-size-adjust: 0.5;
}
@font-face{
   font-family: 'Asap-Regular';
   src: url("../fonts/Asap-Regular.otf");}
@font-face{
   font-family: 'Asap-Bold';
   src: url("../fonts/Asap-Bold.otf");}

body{

	overflow-y: scroll;
	font-family: Asap-Regular;
	margin: 0 auto;
	width:100%;
	max-width: 1294px;
	left:0;
	right:0;
}
.container_wrap{
	max-width: 70%;
	margin: 0 auto;
}
.pull_left{
	float: left;
}
.pull_right{
	float: right;
}
header{
	z-index: 2;
	height: 62px;
	position: fixed;
	top: 0;
	background-color: #fff;
	width: 100%;
	box-shadow: 0 1px 3px #DFDCDC;
}
header a{
	font-family: 'Asap-Bold';
	color:#999999;
	text-decoration: none;
}
header ul{
	padding: 0;
}
header li:last-child a {
	margin-left: 8px;
	color: black;
}
.nav_bar{
	margin-top: -8px;
}
.title_img{
	text-align: center;
	width: 18%;
	margin: 0 auto;
	margin-top: 15px;
}
.social{
	margin-top: -52px;
}
.link{
	list-style: none;
    display: inline;
}
.facebook_icon a{
	background: url('../../views/images/fb-icon.png') no-repeat 0 0;
}
.twitter_icon a{ 
	background: url('../../views/images/tweet-icon.png') no-repeat 0 0;
}
.facebook_icon a, .twitter_icon a{
	width: 30px;
	height: 30px;
	background-size: 30px 30px;		
	float: left;
	margin-left: 8px;
	margin-top: 6px;
}
footer ul{
	margin: 35px auto;
	width: 9%;
	padding: 0;
	height: 41px;
}
/*********/
#section-1{
	background: url('../../views/images/bg1_repeat.png');
	text-align: center;
}
#content-1{
	padding: 7% 0px;
	margin:auto;
	width: 50%;
	font-family: 'Asap-Bold';
	font-size: 52px;
	color: #FFF;
}
form{
	display: block;
	height:60px;
	width: 350px;
	margin:2% auto;
	color: #FFF;
}  

#homeWrap{
	margin-top: 62px;
}

input#field1 {
	float: left;
	display: inline;
    height: 60px;
    width: 269px;
    border: 1px hidden;
    border-radius: 30px 0px 0px 30px;
    background-color: #EE8277;
    opacity: 0.8;
    font-family: "Asap-Regular";
    font-size: 20.3px;
    padding-left: 48px;
    outline: medium none;
    color: #FFF;
    }
input#button-ok {
	float: left;
	display: inline;
    height: 60px;
    background-color: #2ECC71;
    border: 1px hidden;
    width: 81px;
    border-radius: 0px 30px 30px 0px;
    outline: medium none;
    padding: 0;
    margin: 0;
}
  
input[value] {
    color: #FFF;
    font-family: 'Asap-Regular';
    font-size: 20.3px;
}
#content-2{
	width: 60%;
	margin:auto;
	font-family: 'Asap-Regular';
	font-size: 24px;
	color: #FFF;
	padding: 0% 7%;
}
#content-3 {
    font-family: 'Asap-Regular';
    font-size: 16px;
    color: #FFF;
   /* padding: 16% 0px 0px;*/
}
#section-4{
	background: url('../../views/images/bg2.png');
}
#down-arrow{
	margin-top: 40px;
	height: 80px;
}
#section2content-1 {
	text-align: center;
    font-family: "Asap-Bold";
    font-size: 36px;
    color: #333;
    padding: 7% 0px 0px;
}
#section2content-2 {
	text-align: center;
    font-family: "Asap-Regular";
    font-size: 20px;
    color: #999;
    padding: 3% 0px 0px;
    margin: 0px 30%;
}
#section2-image{
	width:100%;

}
#section-3{
	text-align: center;
	padding: 12%;
	padding-bottom: 15%;
	padding-top: 100px;
	background-color: #F5F5F5;

}
#maincontent-1{
	text-align: left;

}
#section-3image1{
	float: left;
		margin-right: 35px;
		width: 40%;
		min-width: 250px;
		margin-bottom: 20px;

}
#section-3image2{
	float: right;
	margin-left: 35px;
	width: 40%;
	min-width: 250px;
	margin-bottom: 20px;
}
#section-3content1{
height: 300px;
}
#section-3content2{
height: 300px;
}
.content_h1 {
    font-family: 'Asap-Bold';
    font-size: 36px;
    color: #333;
    margin-bottom: 0;
    display: inline-block;
    margin: 10px;
}
.section-3content {
    font-family: 'Asap-Regular';
    font-size: 20px;
    color: #999;
    padding: 0;
    padding-top: 4%;
}
.content_h2 {
    font-family: 'Asap-Bold';
    font-size: 36px;
    color: #333;
    padding-top: 50px;
    padding: 10px;
    display: inline-block;
    margin-bottom: 0;
}
#maincontent-2{
	text-align: right;

}
#section-4main {
    width: 70%;
    margin: 0px auto;
    padding: 5%;
    position: relative;
    text-align: center;
}
#section-4content1 {
    font-family: "Asap-Regular";
    font-size: 24px;
    color: #FFF;
    width: 92%;
    margin: 0px auto;
    text-align: center;
}
#sub-content {
    font-family: 'Asap-Regular';
    font-size: 24px;
    color: #FFF;
    text-align: center;
    padding-bottom: 17px;
    margin-top: 75px;
}
#sub-content2{
    font-family: 'Asap-Regular';
    font-size: 16px;
    color: #FFF;
}